<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
         <h1>Built_in_filters</h1>
    <!--<h2> {{BF}}</h2>
         <h2> {{BF|lower}}</h2>
         <h2> {{BF|upper}}</h2>
         <h2> {{BF|capfirst}}</h2>
         <h2> {{BF|title}}</h2>
         <h2> {{BF|length}}</h2>
         <h2> {{BF|truncatewords:'3'}}</h2>
         <h2> {{BF|truncatechars:'6'}}</h2>
         <h2> {{BF|slice:'6'}}</h2>
 -->
    <!----<h2> {{dt|date:'d j S m n'}}</h2>

       <h2> {{dt|date:'b M F Y y'}}</h2>

       <h2> {{dt|date:'D l G g H h A a'}}</h2>

       <h2> {{dt|date:'i s'}}</h2>

       <h2> {{dt|date:''}}</h2>
    -->
       <h2> {{dt|date:'d S M Y l h:i:s a'}}</h2>






        <h2>I have {{c}} cat{{c|pluralize}}</h2>
 
        <h2>I have {{c}} mango{{c|pluralize:'es'}}</h2>


        <h2>This {{c}} marker{{c|pluralize}} {{c|pluralize:'is,are'}} Mine</h2>

    </center>
</body>
</html>